* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    --text-color: #a3a6b7;
    --primary-color: #4b38b3;
    --info-color: #299cdb;
    --success-color: #45cb85;
    --warning-color: #ffbe0b;
    --danger-color: #f06548;
}

html {
    font-family: 'inter', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.seperate {
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #adafb9;
}

.grid {
    width: 1200px;
    margin: 0 auto;
}

.grid-full {
    width: 100%;
}

.text-color-success {
    color: var(--success-color);
}

.text-color-primary {
    color: #4b38b3;
}

.text-color-white {
    color: #fff !important;
}

.text-color-gray-400 {
    color: #495057;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.bg-success {
    background-color: #45cb85;
    color: #fff;
}

.bg-info {
    background-color: #299cdb;
    color: #fff;
}

.bg-warning {
    background-color: #ffbe0b;
    color: #fff;
}

.bg-danger {
    background-color: #f06548;
    color: #fff;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-green-100 {
    background-color: #e3f7ed;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.me-1 {
    margin-right: 0.25rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.me-3 {
    margin-right: 1rem;
}

.me-4 {
    margin-right: 1.5rem;
}

.my-1 {
    margin: 0.25rem 0;
}

.my-2 {
    margin: 0.5rem 0;
}

.my-3 {
    margin: 1rem 0;
}

.my-4 {
    margin: 1.5rem 0;
}

.mx-1 {
    margin: 0 0.25rem;
}

.mx-2 {
    margin: 0 0.5rem;
}

.mx-3 {
    margin: 0 1rem;
}

.mx-4 {
    margin: 0 1.5rem;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.px-1 {
    padding: 0 0.25rem;
}

.px-2 {
    padding: 0 0.5rem;
}

.px-3 {
    padding: 0 1rem !important;
}

.px-4 {
    padding: 0 1.5rem;
}

.px-5 {
    padding: 0 3rem;
}

.rounded {
    border-radius: 0.25rem !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-1 {
    border-radius: 0.2rem !important;
}

.rounded-2 {
    border-radius: 0.25rem !important;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.rounded-end {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-start {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}

.w-100 {
    width: 100%;
}

.fw-light {
    font-weight: 300 !important;
}

.fw-lighter {
    font-weight: lighter !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-sm {
    line-height: 1.25 !important;
}

.lh-base {
    line-height: 1.5 !important;
}

.lh-lg {
    line-height: 2 !important;
}

.grid-full {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-1 {
    width: 8.3333%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 24.99999%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 49.9999%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 74.9999%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.offset-9 {
    width: 74.9999%;
    padding-left: 12px;
    padding-right: 12px;
}